@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'MyCustomFont';
  src: url('/public/BrittanySignature.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  /* font-family: 'MyCustomFont', sans-serif; */
}

html{
  scroll-behavior: smooth;
}

.nav-link.active {
  color: #47d4ff; /* Couleur ou style pour le lien actif */
  font-weight: bold; /* Style pour le lien actif */
}